import React from 'react'
import { ImageList } from '../helpers/ImageList'
import ImageItem from '../components/ImageItem'
import '../styles/Image.css';

function Explore() {
  return (
    <div className='image'>
      <h1 className='imageTitle'>Arts</h1>
      <div className='imageList'>
        {ImageList.map((imageItem, key) => {           
        return (
            <ImageItem 
                key={key}
                image={imageItem.image} 
                name={imageItem.name} 
                index={imageItem.index}
                // price={imageItem.price} 
                // description={imageItem.description}
                />
          );
      })} 
      </div>
      {/* {{#each data}} */}
      <div className='imageList'>
        <img src='{{image}}'/>
        <h1>{{name}}</h1>
      </div>
      {/* {{/each}} */}
    </div>
  );
}

export default Explore
