.countDown {
    width: 500px;
    height: 50px;
    border: 2px Solid black;
    font-family: "Oswald";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 75px;
}

.countDown span {
    margin-left: 10px;
    margin-right: 10px;
}
.two-numbers {
    width: 2ch;
}